body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}
.bd__brand a {
	-moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, -moz-filter 0.25s ease;
	-webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.25s ease;
	-ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, -ms-filter 0.25s ease;
	transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-moz-transition-delay: 0.65s;
	-webkit-transition-delay: 0.65s;
	-ms-transition-delay: 0.65s;
	transition-delay: 0.65s;
	-moz-filter: blur(0);
	-webkit-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
	opacity: 1;
}
body.is-loading .bd__brand a {
	opacity: 0;
	-moz-transform: translateX(0.25em);
	-webkit-transform: translateX(0.25em);
	-ms-transform: translateX(0.25em);
	transform: translateX(0.25em);
	-moz-filter: blur(2px);
	-webkit-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}
 