.bd__footer{
    background-color: #0c0c0c;
    padding-top: 20px;
    color: #fff;
    margin-top: 40px;
}

.r-ft{
    padding: 1rem 0px;
}
.r-fm{
    padding: 1rem;
}
.separator{
    border-top: 4px solid #262626;
    border-bottom: 4px solid #262626;
    padding-top: 1px;
}

.geo-location{font-family:"Helvetica";font-size:14px;color:#f1f1f1;}
.copyright {font-family:fantasy;font-size:12px;color:#888;}
.privacy{font-size:12px;}
.privacy a{color:#888;}
#privacy_policy{margin-bottom:20px;}
#privacy_policy h1{color:#666;font-size:16px;}
#privacy_policy h2{color:#666;font-size:14px;}
#privacy_policy p{font-size:12px;color:#444;}