
  td:first-of-type{
      width: 10px;
  }
  td:last-of-type {
    width: 280px;
  }
  td:nth-of-type(2) {
    overflow: hidden;
    text-overflow: ellipsis;
  }

.body-content{
    padding: 1em;
    background: #fff;
    color: #535656;
}
.form-content-sm{
    background: #d2d2d2;
}
table caption{
    caption-side: top;
}

ul.tree li{
    font-size: 18px;
}
ul.tree ul > li{
    color: darkgreen;
    font-weight: normal;
    font-size: 16px;
}
ul.tree ul ul > li{
    color: #236284;
    font-weight: lighter;
    font-size: 14px;
}


nav.x_nav ul li a span{
    padding: 0 10px;
}

span.ietips {
    color: #8e8e8e;
    font-size: 12px;
}