.nv__pageview{
    margin-left: 260px;
    padding: 20px;
}

.expend-pageview{
    margin-left: 80px !important;
}

.dib{
    display: inline-block !important;
}
.webres-textedit{
    resize: vertical;
}

.select2-results__options.select2-results__options--nested li{
    padding-left: 20px;
}
.select2-container--default .select2-results__group{
    display: none !important;
}