//colors
$primary: #236284;
$success: #5eba7d;
$info:  #1181f1;
$warning: #f3a361;
$danger: #d96c6f;
$d2: #d2d2d2;
$gray: #555;
$gray-dark: #222;
$gray-light: #888;
$gray-lighter: #ddd;

$header-bg: $gray-dark;

$body-bg: #f1f1f1;

$teal:#066b6b;
$link-color: #07C;
$link-hover-color: #3af;

$link-hover-decoration: underline !default;

$font-size:              1rem !default;